src/WebSpike/SoaContract/BasicSilverClient/Service References/BasicWcfSvc/BasicWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49774/wsv/BasicWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MvcWebSite.Models.Services" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BasicSimple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MvcWebSite.Models.Services" minOccurs="0" name="req" nillable="true" type="q1:BasicSimpleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BasicSimpleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MvcWebSite.Models.Services" minOccurs="0" name="BasicSimpleResult" nillable="true" type="q2:BasicSimpleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>