src/WebSpike/SoaContract/BasicSilverClient/Service References/BasicWcfSvc/BasicWcf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MvcWebSite.Models.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MvcWebSite.Models.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BasicSimpleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicSimpleRequest" nillable="true" type="tns:BasicSimpleRequest" />
  <xs:complexType name="BasicSimpleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicSimpleResponse" nillable="true" type="tns:BasicSimpleResponse" />
</xs:schema>