src/CasinovaAll/Silverlights/TheS.Casinova.Colors.Silverlight/Service References/ColorsSvc/ColorsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23420/wsv/ColorsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TheS.Casinova.Colors.Commands" />
  <xs:import schemaLocation="http://localhost:23420/wsv/ColorsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetListActiveGameRound">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListActiveGameRoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TheS.Casinova.Colors.Commands" minOccurs="0" name="GetListActiveGameRoundResult" nillable="true" type="q1:ListActiveGameRoundCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGamePlayInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TheS.Casinova.Colors.Commands" minOccurs="0" name="cmd" nillable="true" type="q2:ListGamePlayInfoCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGamePlayInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TheS.Casinova.Colors.Commands" minOccurs="0" name="GetListGamePlayInformationResult" nillable="true" type="q3:ListGamePlayInfoCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TheS.Casinova.Colors.Commands" minOccurs="0" name="cmd" nillable="true" type="q4:GetGameResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TheS.Casinova.Colors.Commands" minOccurs="0" name="GetGameResultResult" nillable="true" type="q5:GetGameResultCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinnerInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TheS.Casinova.Colors.Commands" minOccurs="0" name="cmd" nillable="true" type="q6:PayForColorsWinnerInfoCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinnerInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetWinnerInformationResult" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TheS.Casinova.Colors.Commands" minOccurs="0" name="cmd" nillable="true" type="q8:BetCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="BetResult" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>