src/SilverTech/MvvmSilverlight/MvvmCollection/Service References/MvvmCollectionSvc/MvvmCollectionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49856/MvvmCollectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MvvmSilverlight.Web" />
  <xs:element name="ListPeople">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MvvmSilverlight.Web" minOccurs="0" name="ListPeopleResult" nillable="true" type="q1:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>