src/WebSpike/SoaContract/BasicSilverClient/Service References/BasicWebSerThruWcf/BasicWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BasicSimple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:BasicSimpleRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BasicSimpleRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BasicSimpleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BasicSimpleResult" type="tns:BasicSimpleResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BasicSimpleResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="BasicSimpleSoapIn">
    <wsdl:part name="parameters" element="tns:BasicSimple" />
  </wsdl:message>
  <wsdl:message name="BasicSimpleSoapOut">
    <wsdl:part name="parameters" element="tns:BasicSimpleResponse" />
  </wsdl:message>
  <wsdl:portType name="BasicWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BasicSimple">
      <wsdl:input message="tns:BasicSimpleSoapIn" />
      <wsdl:output message="tns:BasicSimpleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicWebServiceSoap" type="tns:BasicWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BasicSimple">
      <soap:operation soapAction="http://tempuri.org/BasicSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicWebServiceSoap12" type="tns:BasicWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BasicSimple">
      <soap12:operation soapAction="http://tempuri.org/BasicSimple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasicWebService">
    <wsdl:port name="BasicWebServiceSoap" binding="tns:BasicWebServiceSoap">
      <soap:address location="http://localhost:49774/wsv/BasicWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BasicWebServiceSoap12" binding="tns:BasicWebServiceSoap12">
      <soap12:address location="http://localhost:49774/wsv/BasicWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>